## Creating Python List

How can you save heights of all the students present in the class?

In [1]:
# creating a list
hari = 176
ram = 172
mahesh = 168
raju = 174

heights = [hari, ram, mahesh, raju]
print(heights)

[176, 172, 168, 174]

Properties of List
+ List is a collection of values
+ it can contain any data type
+ can also contain different data types in the same list

In [2]:
# creating a list with different data types
heights = ['hari', hari, 'ram', ram, 'mahesh', mahesh, 'raju', raju]
print(heights)

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [5]:
# creating a list of lists
heights = [['hari', hari], ['ram', ram], ['mahesh', mahesh], ['raju', raju]]
print(heights)

[['hari', 176], ['ram', 172], ['mahesh', 168], ['raju', 174]]

## Subsetting Lists

In [6]:
heights = ['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [7]:
heights[1]

176

In [10]:
heights[-3]

168

In [11]:
heights[5]

168

### Slicing and Dicing

+ list[start:end], here <b>start</b> in included while <b>end</b> is excluded

In [12]:
heights

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [13]:
heights[3:5]

[172, 'mahesh']

In [14]:
heights[:5]

['hari', 176, 'ram', 172, 'mahesh']

In [15]:
heights[3:]

[172, 'mahesh', 168, 'raju', 174]

In [16]:
heights[-4:]

['mahesh', 168, 'raju', 174]

In [18]:
heights[:-4]

['hari', 176, 'ram', 172]

### List Manipulations

+ changing list elements
+ adding list elements
+ manipulating list elements

In [19]:
heights

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [20]:
heights[7] = 176

In [21]:
heights

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 176]

In [22]:
heights[0:2] = ['rahi', 167]

In [23]:
heights

['rahi', 167, 'ram', 172, 'mahesh', 168, 'raju', 176]

In [24]:
# adding two lists

In [25]:
heights + ['me', 169]

['rahi', 167, 'ram', 172, 'mahesh', 168, 'raju', 176, 'me', 169]

In [26]:
heights

['rahi', 167, 'ram', 172, 'mahesh', 168, 'raju', 176]

In [27]:
subjects = [['ram', 'finance'], 
            ['raju', 'marketing'],
            ['mahesh', 'HR']]

In [28]:
subjects

[['ram', 'finance'], ['raju', 'marketing'], ['mahesh', 'HR']]

In [30]:
subjects[0][1]

'finance'

In [ ]:
mark