## While Loops

While loops are like repeated if statements, the code inside the while loop gets executed repeatedly until some condition is met. For example, in <b>Gradient Descent</b> algorithm we keep updating the weights and biases until the error between the actual target variable and predicted target variable falls below a particular tolerance level. For example

In [5]:
error = 50

In [6]:
while error > 1:
    print('actual error:', error)
    error = error/2
    print('error after update:', error)

actual error: 50
error after update: 25.0
actual error: 25.0
error after update: 12.5
actual error: 12.5
error after update: 6.25
actual error: 6.25
error after update: 3.125
actual error: 3.125
error after update: 1.5625
actual error: 1.5625
error after update: 0.78125

## For Loops

for each variable in sequence, execute some expression

In [7]:
heights = [171, 168, 163, 169]

In [9]:
for height in heights:
    print(height)

171
168
163
169

if we also need to know the indices of each element in the list heights, we can use

In [10]:
for index, height in enumerate(heights):
    print('index ' + str(index) + ': ' + str(height))

index 0: 171
index 1: 168
index 2: 163
index 3: 169

for loops can also used over string data types

In [12]:
for c in 'India':
    print(c)

I
n
d
i
a

## Looping Data Structures

looping through dictionaries

In [14]:
world = {
    'India': 1.32,
    'China': 1.37,
    'USA': 0.35
}

In [21]:
for key, value in world:
    print(key + '--' + str(value))

ValueError: too many values to unpack (expected 2)

In [22]:
for key, value in world.items():
    print(key + '--' + str(value))

India--1.32
China--1.37
USA--0.35

looping through N-D NumPy arrays

In [23]:
import numpy as np

In [24]:
heights = [173, 168, 163, 171]
weights = [66, 58, 71, 65]

persons = np.array([heights, weights])
persons

array([[173, 168, 163, 171],
       [ 66,  58,  71,  65]])

In [25]:
for val in persons:
    print(val)

[173 168 163 171]
[66 58 71 65]

In [26]:
for val in np.nditer(persons):
    print(val)

173
168
163
171
66
58
71
65

looping through a Pandas DataFrame

In [30]:
import pandas as pd

brics = pd.read_csv('brics.csv', index_col=0)

In [31]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [32]:
for val in brics:
    print(val)

country
capital
area
population

In [37]:
for index, row in brics.iterrows():
    print('index:', index)
    print('row:', row)
    print('\n')

index: BR
row: country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object


index: RU
row: country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object


index: IN
row: country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object


index: CH
row: country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object


index: SA
row: country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object