## User Defined Functions

#### Functions without parameters

In [1]:
def write(): # function header
    print('i love mango') # function body

In [2]:
write()

i love mango

#### Functions with parameters

In [3]:
def write(fruit): # here fruit is a parameter
    print('i love ' + fruit)

In [4]:
write('banana') # here banana is an argument

i love banana

In [5]:
write('orange') # here orange is an argument

i love orange

#### Assignment: Write a function which takes a number as an input and returns the square of that number

#### Functions with multiple parameters

we will write a function which will take two arguments, one raised to the power of another

In [6]:
def raise_to_power(num_1, num_2):
    value = num_1 ** num_2
    return(value)

In [7]:
raise_to_power(5, 3)

125

In [8]:
raise_to_power(3, 5)

243

#### Functions with default parameters

In [9]:
def raise_to_power(num_1, num_2 = 2):
    value = num_1 ** num_2
    return(value)

In [10]:
raise_to_power(4)

16

In [11]:
raise_to_power(8)

64

In [12]:
raise_to_power(7, 3)

343

#### Functions returning multiple values

In [13]:
def raise_both(num_1, num_2):
    val_1 = num_1 ** num_2
    val_2 = num_2 ** num_1
    return (val_1, val_2)

In [14]:
raise_both(3, 5)

(243, 125)

#### Functions with flexible number of arguments

Suppose you want to write a function which adds up any numbers passed on to the function and you do not know how many arguments can be passed into the function. How would you solve this?

In [15]:
def add_all(*args):
    sum_all = 0
    for num in args:
        sum_all += num
    return sum_all

In [16]:
add_all(1, 3)

4

In [17]:
add_all(4, 7, 1, 7, 5)

24

## Writing your own functions

In [18]:
import pandas as pd

tweets = pd.read_csv('tweets.csv')

In [19]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
contributors                 0 non-null float64
coordinates                  0 non-null float64
created_at                   100 non-null object
entities                     100 non-null object
extended_entities            20 non-null object
favorite_count               100 non-null int64
favorited                    100 non-null bool
filter_level                 100 non-null object
geo                          0 non-null float64
id                           100 non-null int64
id_str                       100 non-null int64
in_reply_to_screen_name      11 non-null object
in_reply_to_status_id        8 non-null float64
in_reply_to_status_id_str    8 non-null float64
in_reply_to_user_id          11 non-null float64
in_reply_to_user_id_str      11 non-null float64
is_quote_status              100 non-null bool
lang                         100 non-null object
place                        3 non-null object
possibly_sensitive           72 non-null object
quoted_status                14 non-null object
quoted_status_id             14 non-null float64
quoted_status_id_str         14 non-null float64
retweet_count                100 non-null int64
retweeted                    100 non-null bool
retweeted_status             62 non-null object
source                       100 non-null object
text                         100 non-null object
timestamp_ms                 100 non-null int64
truncated                    100 non-null bool
user                         100 non-null object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [20]:
tweets.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

## Exercise

write a function which would return the count of tweets in different languages present in the dataset

In [21]:
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result = count_entries(tweets, 'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

## Variable Scoping in User Defined Functions

+ global scope
+ local scope
+ python built-in scope

#### Local Scope

In [22]:
def square(val):
    new_val = val ** 2
    return new_val

In [23]:
square(5)

25

In [24]:
new_val

NameError: name 'new_val' is not defined

#### Global Scope

In [25]:
new_val = 10

def square(val):
    new_val = val ** 2
    return new_val

In [26]:
square(5)

25

In [27]:
new_val # global variable is returned

10

when a function is called, variables are searched at local scope first then it searches for variables on the global scope

#### chaning a global variable inside a function

In [28]:
new_val = 10

def square(val):
    global new_val
    new_val = new_val ** 2
    return new_val

In [29]:
square(5)

100

## Exercise

modify the function <b>count_entries</b> you wrote earlier so that user can pass multiple columns together which would return the count of tweets for each columns

In [31]:
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets, "lang")

# Call count_entries(): result2
result2 = count_entries(tweets, "lang", "source")

# Print result1 and result2
print(result1)
print(result2)

{'en': 97, 'et': 1, 'und': 2}
{'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}